<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v3.3.0</title>

  <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-3.3.0/jasmine_favicon.png">
  <link rel="stylesheet" href="jasmine/lib/jasmine-3.3.0/jasmine.css">

  <script src="jasmine/lib/jasmine-3.3.0/jasmine.js"></script>
  <script src="jasmine/lib/jasmine-3.3.0/jasmine-html.js"></script>
  <script src="jasmine/lib/jasmine-3.3.0/boot.js"></script>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

  <!-- Vue.js -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <div id="app" style="display: none;">
    <div class="text-center">
      <h1>[BCPR280 Software Engineering 2] Assignment 1</h1>
    </div>
    <div class="btn-group" id="problem_Set_Selector" role="group" aria-label="Problem Set Selector">
      <button v-for='problem in problems' class="btn btn-secondary"
        v-on:click="selectedProblem(problem.id)">{{problem.id}}</button>
    </div>
    <div class="btn-group" id="exercise_Selector" role="group" aria-label="Exercise Selector"
      v-if="problemSet !== 'None'">
      <button type="button" class="btn btn-secondary" v-for='exercise in problems[problemSet-1].exercises'
        v-on:click="selectedExercise(exercise)">{{exercise}}</button>
    </div>
    <br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="selectorAlert">Please Select a
      Problem Set and
      Exercise...<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alertDismisser"><span
          aria-hidden="true">&times;</span></button></div>
    <div class="card" id="content">
      <ul class="list-group list-group-flush"></ul>
    </div>
    <div class="form-group" id="input"><input type="text" class="form-control fixed-bottom"
        placeholder="Type Inside Me (^.^)" v-on:keyup.enter="submit()"></div>
  </div>

  <!-- include source files here... -->
  <script src="src/js/controller/InputHandler.js"></script>
  <script src="src/js/view/vm.js"></script>

  <!-- include spec files here... -->
  <script src="jasmine/spec/vmTests.js"></script>
</body>

</html>